* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cont-header {
    display: flex;
}

.cont-logo {
    display: flex;
}

.cont-nav {
    display: flex;
}